[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = {path = "./mysqlclient-1.4.6-cp39-cp39-win_amd64.whl"}
django-jinja = "*"
jinja2 = ">=2.10"
mod-wsgi = "*"
django-environ = "*"
pillow = "*"
python-decouple = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
