asgiref==3.4.1
Django==3.2
django-jinja==2.9.0
Jinja2==3.0.1
MarkupSafe==2.0.1
mod-wsgi==4.8.0
mysqlclient @ file:///C:/xampp/htdocs/e_mysite/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
pytz==2021.1
sqlparse==0.4.1
