{% extends 'layout/layout.jinja' %}
{% block content %}
    <div class="container-fluid" id="app">
      <div class="row">
        {% include "layout/sidebar.jinja" %}
        <product-list-page></product-list-page>
      </div>
    </div>
{% endblock %}